<%= flash[:login_message] %>

<h1>Listing trips</h1>

<%= search_form_for @search do |f| %>
  <div class="search_results">
    <%= f.text_field :name_cont, placeholder: "Location"%><p>
     <%= f.text_field :budget_gteq, placeholder: "Price from" %> - <%= f.text_field :budget_lteq, placeholder: "To" %>
  </div>
  <br>
  <%= f.submit "Search" %>
<% end %>
<br>
<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :user, "User" %></th>
      <th><%= sort_link @search, :name, "Name" %></th>
      <th><%= sort_link @search, :description, "Description" %></th>
      <th><%= sort_link @search, :budget, "Budget" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.user.username %></td>
        <td><%= link_to trip.name, trip_path(trip) %></td>
        <td><%= trip.description %></td>
        <td><%= trip.budget %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
