<%= form_for(@expense_buddy) do |f| %>
  <% if @expense_buddy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense_buddy.errors.count, "error") %> prohibited this expense_buddy from being saved:</h2>

      <ul>
      <% @expense_buddy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :buddy_id %><br>
    <%= f.text_field :buddy_id %>
  </div>
  <div class="field">
    <%= f.label :expense_id %><br>
    <%= f.text_field :expense_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
