<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<ul>
  <li><% @trips.each do |trip| %>
    <%= link_to trip.name, trip_legs_path(trip) %>
    <% end %></li>
</ul>

<p>
  <strong><%= link_to("Browse Trips", trips_path) %></strong>
</p>
