<h1>Listing legs</h1>

<!-- %= search_form_for @search do |f| %>
  <div class="search_results">
    %= f.text_field :name_cont, placeholder: "Location"%><p>
     %= f.text_field :budget_gteq, placeholder: "Price from" %> - <%= f.text_field :budget_lteq, placeholder: "To" %>
  </div>
  <br>
  %= f.submit "Search" %>
% end %> -->

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Trip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legs.each do |leg| %>
      <tr>
        <td><%= link_to leg.location.name, leg_expenses_path(leg) %></td>
        <td><%= leg.start_date %></td>
        <td><%= leg.end_date %></td>
        <td><%= link_to leg.trip.name + " Expenses", trip_expenses_path(@trip) %></td>
        <td><%= link_to 'Edit', edit_leg_path(leg) %></td>
        <td><%= link_to 'Destroy', leg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>