<h1>Listing expenses</h1>

<table>
  <thead>
    <tr>
      <th>Cost</th>
      <th>Description</th>
      <th>Category</th>
      <th>Date</th>
      <th>Leg</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.cost %></td>
        <td><%= link_to expense.description, expense_path(expense) %></td>
        <td><%= expense.category.name %></td>
        <td><%= expense.date %></td>
        <td><%= expense.leg.location.name %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense_path(expense), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<strong>Total: <%= @expenses.sum(:cost) %><br></strong>
  Food: <%= @expenses.where(category_id: 1).sum(:cost) %><br>
  Housing: <%= @expenses.where(category_id: 2).sum(:cost) %><br>
  Transportation: <%= @expenses.where(category_id: 3).sum(:cost) %><br>
  Shopping: <%= @expenses.where(category_id: 4).sum(:cost) %><br>
  Activites: <%= @expenses.where(category_id: 5).sum(:cost) %><br>
  Miscellaneous: <%= @expenses.where(category_id: 6).sum(:cost) %>
